@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker</h1>
    <p class="lead">The application that will help you track the issues in your project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Add the tasks you are willing to solve in the future in a simple manner.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Organize your tasks efficiently</h2>
        <p>Start organizing your tasks by including them into different projects or milestones.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more members in your team</h2>
        <p>You can easily add more members in your team. Just add their contact information and we will notify them!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>