.label-primary-new {
  background-color: #df691a;
}
.label-success-new {
  background-color: #5cb85c;
}
.label-info-new {
  background-color: #5bc0de;
}
.label-warning-new {
  background-color: #f0ad4e;
}
.label-danger-new {
  background-color: #d9534f;
}